# -*- mode: sh -*-

alias ls='exa'
alias ee='exa -alF'
alias ll='exa -alF'
alias ea='exa -a'
alias la='exa -a'

alias mv='mv -i'  # ask before overwriting existing files

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias e='emacsclient -a vim'
alias vi='emacsclient -t -a vim'
alias vim='emacsclient -t -a vim'

# https://github.com/sharkdp/fd is installed as fdfind in Debian/Ubuntu
if [ -x "$(which fdfind 2>/dev/null)" ]; then
    alias fd='fdfind'
fi

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# URL-encode and decode strings
alias urldecode='python -c "import sys; from urllib.parse import quote; print(quote(sys.argv[1]));"'
alias urldecode='python -c "import sys; from urllib.parse import unquote; print(unquote(sys.argv[1]));"'

#######
# git #
#######
alias ga='git add'
alias gp='git push'
alias gl='git log'
alias glp='git log -p'
alias gs='git status -sb'
alias gd='git diff'
alias gc='git commit'
alias gca='git commit --amend'
alias gcm='git commit -m'
alias gcma='git commit -ma'
alias gb='git branch'
alias gco='git checkout'
alias gra='git remote add'
alias gri='git rebase --interactive'
alias grr='git remote rm'
alias gpu='git pull'
alias gcl='git clone'
