# -*- mode: sh -*-

# allow 20000 entries in .bash_history
export HISTSIZE='20000';
export HISTFILESIZE="${HISTSIZE}";

# don't put duplicate lines in .bash_history
HISTCONTROL=ignoredups:ignorespace

# make emacs the default editor
export EDITOR='emacsclient -t';
export VISUAL='emacsclient -t';
export ALTERNATE_EDITOR=vim;

# prefer US English and use UTF-8
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# don’t clear the screen after quitting a manual page
export MANPAGER='less -X';

# highlight section titles in manual pages
# FIXME: not working???
export LESS_TERMCAP_md="${yellow}";

# OnlyKey for GPG https://docs.crp.to/onlykey-agent.html
export GNUPGHOME="$HOME/.gnupg/onlykey"

# make Python use UTF-8 encoding for output to stdin, stdout, and stderr
export PYTHONIOENCODING='UTF-8';

# use ipdb for Python debugging by default
export PYTHONBREAKPOINT=ipdb.set_trace

# https://wiki.debian.org/KVM
export LIBVIRT_DEFAULT_URI=qemu:///system

# https://www.qubes-os.org/doc/split-gpg/
export QUBES_GPG_DOMAIN=vault-gpg

# https://golang.org/doc/code.html
export GOPATH=$HOME/Code/go

# https://deno.land/#installation
export DENO_INSTALL="$HOME/.deno"

export PATH=$HOME/.local/bin:$HOME/.cargo/bin:$GOPATH/bin:$DENO_INSTALL/bin:$PATH

# https://virtualenvwrapper.readthedocs.io/en/latest/
WORKON_HOME=$HOME/Code/virtualenvs

export VAGRANT_DEFAULT_PROVIDER=libvirt
