[advice]
    pushUpdateRejected = false
    statusHints = false
    commitBeforeMerge = false

[alias]
    st = status
    d = diff
    dc = diff --cached
    ci = commit -v
    cim = commit -v -m
    cia = commit -v -a
    ciam = commit -v -a -m
    co = checkout
    cp = cherry-pick
    l = log
    ll = log -p
    lm = log master..
    llm = log -p master..
    b = branch
    rb = rebase
    sh = !git-sh
    stag = "!id=$(git rev-parse --verify HEAD); git tag -s user_${id:0:8} -m \"Tag for commit $id\""
    vtag = !git tag -v $(git describe)

[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[branch]
    autosetuprebase = always
    autosetupmerge = true

[color]
    diff = auto
    branch = auto
    status = auto
    sh = auto
    ui = auto

[commit]
    gpgsign = true
    template = ~/.gitmessage

[core]
    excludesfile = /home/user/.gitignore_global
    attributesfile = ~/.gitattributes
    pager = delta

    # tabwidth: replace tabs with this many spaces
    # tab-in-indent: tabs in indentation as error
    # blank-at-eol: whitespace at end of line as error
    # blank-at-eof: whitespace at end of file as error
    # space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = tabwidth=4,tab-in-indent,-indent-with-non-tab,trailing-space,blank-at-eol,blank-at-eof

[delta]
    # use n and N to move between diff sections
    navigate = true
    # set to true for terminals with light background color
    light = false

[diff]
    algorithm = histogram
    colorMoved = default
    renames = true
    mnemonicprefix = true

[diff "sqlite3"]
    binary = true
    textconv = "echo .dump | sqlite3"

[github]
    user = haplo
    password =
    oauth-token =

[gitlab]
    user = haplo

[include]
    path = ~/.gitconfig_local

[init]
    defaultBranch = main

[interactive]
    diffFilter = "delta --color-only"

[merge]
    conflictstyle = zdiff3
    tool = emerge

[push]
    default = tracking

[rerere]
    enabled = true

# Always pull to Github and Gitlab with HTTPS, push with SSH
# pushInsteadOf rewrites push URLs first, and if theres a match it prevents an insteadOf
# from rewritting
# https://stackoverflow.com/a/71971739
[url "https://github.com/"]
  insteadOf = "git@github.com:"
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "git@github.com:"
[url "https://gitlab.com/"]
  insteadOf = "git@gitlab.com:"
[url "git@gitlab.com:"]
  pushInsteadOf = "https://gitlab.com/"
  pushInsteadOf = "git@gitlab.com:"

[user]
    name = Fidel Ramos
    email = f@fidelramos.net
    signingkey = 379F14BB02F9317F
