[advice]
    pushUpdateRejected = false
    statusHints = false
    commitBeforeMerge = false

[alias]
    st = status
    d = diff
    dc = diff --cached
    ci = commit -v
    cim = commit -v -m
    cia = commit -v -a
    ciam = commit -v -a -m
    co = checkout
    cp = cherry-pick
    l = log
    ll = log -p
    lm = log master..
    llm = log -p master..
    b = branch
    rb = rebase
    sh = !git-sh
	conflicts = diff --name-only --diff-filter=U
    stag = "!id=$(git rev-parse --verify HEAD); git tag -s user_${id:0:8} -m \"Tag for commit $id\""
    vtag = !git tag -v $(git describe)

[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[branch]
    autosetuprebase = always
    autosetupmerge = true

[color]
    diff = auto
    branch = auto
    status = auto
    sh = auto
    ui = auto

[commit]
    gpgsign = true
    template = ~/.gitmessage

[core]
    excludesfile = /home/user/.gitignore
    attributesfile = ~/.gitattributes

    # tabwidth: replace tabs with this many spaces
    # tab-in-indent: tabs in indentation as error
    # blank-at-eol: whitespace at end of line as error
    # blank-at-eof: whitespace at end of file as error
    # space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = tabwidth=4,tab-in-indent,-indent-with-non-tab,trailing-space,blank-at-eol,blank-at-eof

[diff]
    algorithm = histogram
    renames = true
    mnemonicprefix = true

[diff "sqlite3"]
    binary = true
    textconv = "echo .dump | sqlite3"

[github]
    user = haplo
    password =
    oauth-token =

[gitlab]
    user = haplo

[include]
    path = ~/.gitconfig_local

[init]
    defaultBranch = main

[interactive]
    diffFilter = "diff-so-fancy --patch"

[merge]
    tool = emerge

[push]
    default = tracking

[rerere]
    enabled = true

[user]
    name = Fidel Ramos
    email = f@fidelramos.net
    signingkey = 379F14BB02F9317F
